<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
123
<br>
123
<br>

{% if advertisements_list %}
    {% for advertisement in adv %}

        <a href="/advertisements/{{ advertisement.id }}">{{ advertisement.title }}</a>
        {{advertisement.title}}
        {{advertisement.price}}
        {{advertisement.heading.name}}

    {% endfor %}
{% endif %}

{% for advertisement in adv %}

    <a href="/advertisements/{{ advertisement.id }}">{{ advertisement.title }}</a>
    {{advertisement.title}}
    {{advertisement.price}}
    {{advertisement.heading.name}}

{% endfor %}

</body>

</html>