{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
  User #{{ orders.first.user.pk }}
{% endblock %}

{% block body %}
    {% if orders %}
  <h1>User: <strong>{{ orders.first.user.username }}</strong></h1>
    {% else %}
    У пользователя ещё нет заказов

    {% endif %}
{% cache 300 owner user.username %}
    {% if orders %}
      Пользователь выполнил следующие заказы:
      {% for order in orders %}
      {{ order.delivery_address }}
        {% endfor %}
    {% endif %}
{% endcache %}

{% endblock %}
