{% extends 'blogapp/base.html' %}

{% block title %}
  Article list
{% endblock %}


{% block body %}
  <h1>Articles:</h1>
  {% if articles %}
    <div>
      {% for article in articles %}
        <div>
          <p>Articles title {{ article.title }}</p>
          <p>Pub date: {{ article.pub_date }}</p>
          <p>Authors name: {{ article.author.name }}</p>
          <p>Categories name: {{ article.category.name }}</p>
          <div>
            Tags of article:
            <ul>
              {% for tag in article.tags.all %}
                <li>{{ tag.name }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No articles yet</h3>
  {% endif %}
{% endblock %}
