<html>
<ul>
    <b>Прошёл все курсы на Skillbox 111
    продаю домашние задания по следующим курсам:</b>
    <li>Python-basic: <a href="/python/">ссылка на страницу</a></li>
    <li>Русский язык в эпоху digital: <a href="/russian/">ссылка на страницу</a></li>
    <li>Справляемся с тревогой и стрессом: <a href="/anxiety/">ссылка на страницу</a></li>
    <li>Язык запросов SQL: <a href="/SQL/">ссылка на страницу</a></li>
    <li>Веб-вёрстка базовый уровень: <a href="/web/">ссылка на страницу</a></li>
</ul>
</html>