<html>
<ul>
    <b>Прошёл все курсы на Skillbox
    продаю домашние задания по следующим курсам:</b>
    <li>Python-basic: <a href="http://localhost:8000/python/">ссылка на страницу</a></li>
    <li>Русский язык в эпоху digital: <a href="http://localhost:8000/russian/">ссылка на страницу</a></li>
    <li>Справляемся с тревогой и стрессом: <a href="http://localhost:8000/anxiety/">ссылка на страницу</a></li>
    <li>Язык запросов SQL: <a href="http://localhost:8000/SQL/">ссылка на страницу</a></li>
    <li>Веб-вёрстка базовый уровень: <a href="http://localhost:8000/web/">ссылка на страницу</a></li>
</ul>
</html>